<div class="carregamento" ng-show="carregando"><img src="/gif/carregando" /></div>

<div class="alert alert-success" ng-if="sucesso"><p>Projeto <a ng-href="{{projeto.uri}}" class="alert-link">{{projeto.nome}}</a> criado com sucesso.</p></div>
<div class="alert alert-danger" ng-if="erroDoCliente400"><p>Erro ao criar o projeto. Certifique-se que os campos foram preenchidos corretamente.</p></div>
<div class="alert alert-danger" ng-if="erroDoCliente409"><p>Erro ao criar o projeto. Já existe um projeto com esse mesmo caminho ou um dos diretórios é um caminho de um projeto já existente.</p></div>
<div class="alert alert-warning" ng-if="erroDoServidor"><p>Erro interno do servidor.</p></div>
<div class="alert alert-warning" ng-if="erroDeResposta"><p>Resposta inesperada do servidor.</p></div>

<form ng-submit="criar()" ng-if="!sucesso" name="projetoFormulario" novalidate>
	<div class="form-group" ng-class="{'has-error': projetoFormulario.$invalid && projetoFormulario.$dirty, 'has-success': !projetoFormulario.$invalid && projetoFormulario.$dirty}">
		<label for="nome">Caminho</label>
		<div class="input-group">
			<div class="input-group-addon">/projetos/ano2017/semestre1/</div>
			<input type="text" class="form-control" ng-model="projeto.nome" name="nome" placeholder="Nome" ng-pattern="/^[a-zA-Z0-9]([a-zA-Z0-9/])*[a-zA-Z0-9]$/" required />
		</div>
		<p class="help-block" ng-if="projetoFormulario.nome.$error.required">O nome deve ser preenchido.</p>
		<p class="help-block" ng-if="projetoFormulario.nome.$error.pattern">O nome deve conter apenas letras e números</p>
	</div>
	<button type="submit" class="btn btn-success" ng-disabled="projetoFormulario.$invalid || sucesso">Criar</button>
</form>
