<div class="carregamento" ng-show="carregando"><img src="/gif/carregando" /></div>

<div class="alert alert-success" ng-if="importacaoSucesso"><p>Projeto importado com sucesso.</p></div>
<div class="alert alert-info" ng-if="importacaoInformacaoSelecionarArquivo"><p>Selecione um arquivo <strong>{{importacaoExtensaoPermitida}}</strong> com os arquivos do seu projeto.</p></div>
<div class="alert alert-danger" ng-if="importacaoErroExtensao"><p>Somente é permitido carregar o projeto no formato <strong>{{importacaoExtensaoPermitida}}</strong>.</p></div>
<div class="alert alert-danger" ng-if="importacaoErroTamanhoMaximo"><p>O tamanho máximo permitido é de <strong>{{importacaoTamanhoMaximoPermitido}}</strong>.</p></div>
<div class="alert alert-danger" ng-if="importacaoErroEnvioDoArquivo"><p>Erro na importação dos arquivos.</p></div>
<div class="alert alert-danger" ng-if="importacaoErroCancelamento"><p>Importação cancelada.</p></div>
<div class="alert alert-danger" ng-if="importacaoErroEstouroDeTempo"><p>Importação atingiu o limite máximo de tempo.</p></div>
<div class="alert alert-warning" ng-if="importacaoErroDeResposta"><p>Resposta inesperada do servidor.</p></div>
<div class="alert alert-warning" ng-if="importacaoArquivoInvalido"><p>Arquivo inválido. Certifique-se que o arquivo compactado está em conformidade com as <a href="/#/ajuda" class="alert-link">especificações</a>.</p></div>

<div class="alert alert-danger" ng-if="projetoNaoEncontrado"><p>Projeto não encontrado.</p></div>
<div class="alert alert-warning" ng-if="projetoErroDeResposta"><p>Resposta inesperada do servidor.</p></div>

<div class="alert alert-warning" ng-if="arquivosErroDeResposta"><p>Resposta inesperada do servidor.</p></div>

<div class="alert alert-success" ng-if="classePrincipalSucesso"><p>Classe principal fixada com sucesso.</p></div>
<div class="alert alert-warning" ng-if="classePrincipalErroDeCompilacao"><p>Erro ao compilar o seu projeto. Certifique-se de que o seu projeto compila corretamente. Caso o problema persista, veja os problemas mencionados na seção <a href="/#/ajuda">ajuda</a>.</p></div>
<div class="alert alert-warning" ng-if="classePrincipalErroDeResposta"><p>Resposta inesperada do servidor.</p></div>

<ol ng-if="breadcrumb.length > 0" class="breadcrumb">
	<li><a href="/#/projetos"><span class="glyphicon glyphicon-home"></span></a></li>
	<li ng-repeat="item in breadcrumb"><a href="{{item.uri}}">{{item.nome}}</a></li>
</ol>

<div ng-hide="!projetoSucesso">
	<div class="page-header">
		<h1>{{projeto.nomeDeExibicao}} <small><time>{{projeto.ultimaAtualizacao | date: 'dd/MM/y HH:mm'}}</time></small></h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="container-fluid">
				<form id="formularioImportacao" class="navbar-form navbar-left" novalidate>
					<div class="form-group">
						<div class="btn-group">
							<button type="button" id="botaoImportar" class="btn btn-default" ng-click="abrirImportacaoDeProjeto()"><span class="glyphicon glyphicon glyphicon-cloud-upload"></span> Atualizar</button>
							<a target="_blank" type="application/zip" class="btn btn-default" href="{{obterUriDeExportacao()}}" ng-disabled="arquivosNaoEncontrado"><span class="glyphicon glyphicon-cloud-download"></span> Exportar</a>
						</div>
						<div class="btn-group">
							<select class="form-control" ng-model="classePrincipalSelecionada" ng-disabled="!classes || classes.length === 0" ng-options="classe.nome for classe in classes" ng-change="salvarClassePrincipal()"></select>
						</div>
						<div class="btn-group">
							<a target="_blank" class="btn btn-default" ng-disabled="projeto.classePrincipal === null" href="{{obterUriDeExecucao()}}"><span class="glyphicon glyphicon-play"></span> Executar</a>
						</div>
					</div>
					<input name="arquivos" type="file" id="selecaoDeProjeto" accept="application/zip" />
				</form>
				<form class="navbar-form navbar-right" novalidate>
					<div class="form-group">
						<label for="busca" class="sr-only">Busca</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
							<input type="text" name="busca" class="form-control" ng-model="busca" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="progress" ng-if="importacaoTotal > 0">
				<div class="progress-bar progress-bar-striped" ng-class="{'active': importacaoCarregado / importacaoTotal < 1}" style="width: {{importacaoCarregado / importacaoTotal * 100}}%">
					<span>{{importacaoCarregado / importacaoTotal * 100 | number: 0}}%</span>
				</div>
			</div>
			<ol class="breadcrumb" ng-if="arquivoAtual">
				<li><a href="/#/projeto/{{projeto.nome}}"><span class="glyphicon glyphicon-home"></span></a></li>
				<li ng-if="!estaNoInicio()"><a href="{{obterUriDoDiretorioAnterior()}}">..</a></li>
				<li ng-if="!estaNoInicio()"><a href="{{obterUriDoArquivoAtual()}}">{{arquivoAtual.nome}}</a></li>
			</ol>
			<p ng-if="arquivosNaoEncontrado">Nenhum arquivo.</p>
			<p ng-if="arquivoAtual && !arquivoAtual.diretorio && !arquivoAtual.conteudo">Não existe nenhuma visualização disponível para esse arquivo, mas você pode <a href="{{obterUriDoArquivoAtualParaDownload()}}">abri-lo diretamente através do seu navegador</a>.</p>
		</div>

		<pre ng-if="!arquivoAtual.diretorio && arquivoAtual.conteudo">{{arquivoAtual.conteudo}}</pre>

		<div ng-if="arquivoAtual.diretorio && arquivoAtual.filhos && arquivoAtual.filhos.length > 0" class="list-group" >
			<a ng-repeat="filho in arquivoAtual.filhos | filter: busca | orderBy: ['-diretorio', '-nome']" ng-click="entrar(filho)" class="list-group-item" href="/#/projeto/{{filho.caminho.replace(projeto.nome, projeto.nome + '/arquivo')}}">
				<span ng-if="!filho.diretorio" class="glyphicon glyphicon-file"></span>
				<span ng-if="filho.diretorio" class="glyphicon glyphicon-folder-close"></span>
				{{filho.nome}}
			</a>
		</div>
	</div>
</div>
